version: '2'
services:
  backup:
    image: webcenter/rancher-backup
    privileged: true
    labels:
	io.rancher.container.create_agent=true
	io.rancher.container.agent.role=environment
    environment:
      - CRON_SCHEDULE=0 0 * * * *
      - BACKEND=sftp://rancherbackup@backup.ilumy.com:99/data/racherBackup/
      - FTP_PASSWORD=xLh7qR2QfN
