version: '2'
services:
  plek:
    image: ilumy/plek:master2
    ports:
    - '1337:1337'
    environment:
      - NODE_ENV=production-docker
      - RANCHER_CLUSTER=on
      - MONGO_SERVICE_NAME=mongo-cluster
      - RANCHER_SERVER=accept.plek.co:8080
    command: npm start
    links:
      - redis
    external_links:
      - ${elasticsearch_source}:elasticsearch
      - ${mongodb_source}:mongo-cluster
    labels:
      io.rancher.scheduler.affinity:host_label: environment=app
  redis:
    image: redis
